h4.waiting {
  margin: auto;
  text-align: center;
}

mat-progress-spinner {
  margin: auto;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.waiting span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 34px;
}
.waiting span:nth-child(2) {
  animation-delay: 0.2s;
}
.waiting span:nth-child(3) {
  animation-delay: 0.4s;
}
