@import '~@angular/material/theming';
@import '../app/components/common/stats-summary/stats-summary.theme.scss';
@import '../app/components/ivy-full-status/ivy-overview/useful-links/useful-links.theme.scss';

@include mat-core();

$ivy-primary: mat-palette($mat-light-blue, 500, 400, 800);
$ivy-accent:  mat-palette($mat-red, 700, 600, 800);
$ivy-warn:    mat-palette($mat-red);

@mixin custom-components-theme($theme) {
  @include stats-summary-component-theme($theme);
  @include useful-links-component-theme($theme);
}

$ivy-theme: mat-light-theme($ivy-primary, $ivy-accent, $ivy-warn);

// For the time being, only one theme is handled
@include angular-material-theme($ivy-theme);
@include custom-components-theme($ivy-theme);
