@import '~@angular/material/theming';
@import '../app/components/common/stats-summary/stats-summary.theme.scss';
@import '../app/components/ivy-full-status/ivy-overview/useful-links/useful-links.theme.scss';
@import '../app/components/feature-table/feature-table.theme.scss';
@import '../app/components/feature-group/feature-group-overview/feature-group-overview.theme.scss';

@include mat-core();

// Main theme
$ivy-app-primary: mat-palette($mat-light-blue, 500, 400, 800);
$ivy-app-accent: mat-palette($mat-red, 700, 600, 800);
$ivy-app-warn: mat-palette($mat-red);

@mixin custom-components-ivy-app-theme($theme) {
  @include stats-summary-component-theme($theme);
  @include useful-links-component-theme($theme);
  @include feature-group-overview-component-theme($theme);
}

$ivy-app-theme: mat-light-theme(
  $ivy-app-primary,
  $ivy-app-accent,
  $ivy-app-warn
);

@include angular-material-theme($ivy-app-theme);
@include custom-components-ivy-app-theme($ivy-app-theme);

// Alternative theme
$light-primary: mat-palette($mat-grey, 50, 50, 50);
$light-accent: mat-palette($mat-light-blue, 500, 400, 800);
$light-warn: mat-palette($mat-light-blue, 500, 400, 800);

@mixin custom-components-light-theme($theme) {
  @include feature-table-component-theme($theme);
}

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include custom-components-light-theme($light-theme);

.light-theme {
  @include angular-material-theme($light-theme);
}
