@import '~@angular/material/theming';
@include mat-core();

$ivy-primary: mat-palette($mat-pink, 500, 400, 800);
$ivy-accent:  mat-palette($mat-red, 700, 600, 800);
$ivy-warn:    mat-palette($mat-red);

$ivy-theme: mat-light-theme($ivy-primary, $ivy-accent, $ivy-warn);

@include angular-material-theme($ivy-theme);
